<%= render "layouts/container-start" %>
  <div class="padding-container">
    <h1>Follower Summary</h1>
    <a href="<%= users_followed_followers_path %>" class="btn btn-primary btn-lg btn-block btn-followers" role="button">Following Me<span style="float: right;"><%= @followers_num %></span></a>

	<a href="<%= users_followed_following_path %>" class="btn btn-primary btn-lg btn-block btn-followers" role="button">I'm Following<span class="pull-right"><%= @following_num %></a>

	<a href="<%= users_followed_unfollow_path %>" class="btn btn-primary btn-lg btn-block btn-followers" role="button">
	  Not following me back<span class="pull-right"><%= @not_following_num %></span>
	</a>

<!-- 	<h2 class="mtl">Find Followers By Hashtag</h2>
	<input type="text" id="hashtag-text" class="form-control" placeholder="Enter tag without hash in front"><br>
	<button id="find-followers" class="btn btn-primary" type="button">Find Followers</button>
	<br><br>
	<div class="spinner"><br><%= image_tag("ajax-loader.gif") %></div>
	<div id="follower-list"></div>
  </div> -->
<%= render "layouts/container-end" %>
