<%= image_tag (@photo.url_url(:standard)), class: "col-md-12 mvl phn" %>

<%= simple_form_for @photo, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :caption %>
    <%= f.input :photo_credit %>
    <%= f.input :url, as: :file, label: "Select New Photo"%>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Upload Photo" %>
  </div>
<% end %>
