<%= simple_form_for @photo, html: {multipart: true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <label>Show photo in feed &nbsp;&nbsp;&nbsp;&nbsp;</label>
    <%= f.collection_radio_buttons :status, [['saved', 'No'], ['pending', 'Yes']], :first, :last %>
    <%= f.input :caption, :input_html => {:rows => 12} %>
    <%= f.input :photo_credit %>
    <%= f.input :url, as: :file, label: "Select New Photo" %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, "Save Photo", class: "btn-success" %>
  </div>
<% end %>

