<%= render "layouts/container-start" %>
<p>Welcome <%= @user.first_name %>!</p><br>
<!--     <p id="notice"><%= notice %></p> -->

<div class="row account-info">
	<div class="col-xs-4 col-sm-4 col-md-4">
		<%= image_tag(@account_info[:profile_picture], class: "img-circle", height: 100, width: 100) %>
	</div>
	<div class="col-xs-4 col-sm-4 col-md-8">
		<h1><%= @account_info[:username] %></h1>
		<span><strong><%= @account_info[:posts] %></strong>&nbsp;posts</span>
		<span><strong><%= @account_info[:followed_by] %></strong>&nbsp;followers</span>
		<span><strong><%= @account_info[:following] %></strong>&nbsp;following</span>
	</div>
</div>
<div class="row account-info">
	<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-4">
		<p><%= @account_info[:bio] %></p>
	</div>
</div>

 <div id="sortable" class="photo-grid">
  <% unless @photos.blank? %>	
      <% @photos.each do |photo| %>
      	<div class="photo-wrapper col-xs-4 col-sm-4 col-md-4 ui-state-default" style="background-image: url(<%= photo.url_url(:standard)%>); background-size: cover; float: left; width: 32.2%">
      		<i class="fa fa-picture-o fa-lg pull-right" aria-hidden="true" style="color: black; margin: 5px;"></i>
      	</div> 
      <% end %>
  <% end %>
</div>  
<div>
  <% unless @insta_photos.blank? %>
    <% @insta_photos.each do |photo| %>
      <div class="photo-wrapper col-xs-4 col-sm-4 col-md-4" style="background-image: url(<%= photo %>); background-size: cover; float: left; width: 32.2%">
      </div>
      <!-- <div class="photo-wrapper col-xs-4 col-sm-4 col-md-4">
        <img src=<%= photo %> class="img-responsive" >
      </div>  -->
    <% end %>
  <% end %>
</div> 
<%= render "layouts/container-end" %>
