<div class="app-body">
	<p>Welcome <%= @user.first_name %>!</p><br>
    <p id="notice"><%= notice %></p>

    <div class="row account-info">
    	<div class="col-md-4">
    		<%= image_tag(@account_info[:profile_picture], class: "img-circle") %>
    	</div>
    	<div class="col-md-8">
    		<h1><%= @account_info[:username] %></h1>
			<span><strong><%= @account_info[:posts] %></strong>&nbsp;posts</span>
			<span><strong><%= @account_info[:followed_by] %></strong>&nbsp;followers</span>
			<span><strong><%= @account_info[:following] %></strong>&nbsp;following</span>
			<p><%= @account_info[:bio] %></p>
    	</div>
    </div>

     <div id="sortable" class="photo-grid">
	  <% unless @photos.blank? %>	
	      <% @photos.each do |photo| %>
          	<div class="photo-wrapper col-md-4 ui-state-default" style="background-image: url(<%= photo.url_url(:standard)%>); background-size: cover; float: left;">
          	</div> 
	      <% end %>
	  <% end %>
	</div>  

	<div class="row">
	  <% unless @insta_photos.blank? %>
	    <% @insta_photos.each do |photo| %>
	      <div class="photo-wrapper col-md-4">
	        <img src=<%= photo %> class="img-responsive" >
	      </div> 
	    <% end %>
	  <% end %>
	</div> 
</div>
