<div id="app-container" class="col-md-6 col-md-offset-3">
	<%= render 'photos/header' %>

<!--   <div id="app-body"> -->
    <p id="notice"><%= notice %></p>
    <%= link_to 'New Photo', new_photo_path %>
<!--   </div> -->


	  <div class="row">
	    <ul id="sortable">
	      <% unless @photo.blank? %>	
		      <% @photos.each do |picture| %>
		        <li class="ui-state-default">
		          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pictures">
		            <%= image_tag picture.file, class: "img-responsive", height: "242", width: "242" %>
		          </div> 
		        </li>
		      <% end %>
	      <% end %>
	      <% unless @insta_photos.blank? %>
	        <% @insta_photos.each do |photo| %>
	          <div class="pictures">
	            <img src=<%= photo %> class="img-responsive" >
	          </div> 
	        <% end %>
		  <% end %>
	    </ul>
	  </div> <!-- Row -->



	<br><br>

	<%= render 'photos/footer' %>
</div>