<%= render "layouts/container-start" %>
  <div class="padding-container">
    <h1>Saved Photos</h1>
    <p id="notice"><%= notice %></p>
    </div> 
	<div class="row photo-grid">
	  <% unless @saved_photos.blank? %>	
	      <% @saved_photos.each do |photo| %>
	      	<a href="<%= edit_photo_path(id: photo.id) %>">
	           <div class="photo-wrapper col-xs-4 col-sm-4 col-md-4" style="background-image: url(<%= photo.url_url(:standard)%>); background-size: cover; float: left; width: 32.2%"></div>
	        </a>
	      <% end %>
	  <% end %>
  </div> 
<%= render "layouts/container-start" %>


