<!DOCTYPE html>
<html>
  <head>
    <title>Insta2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  		<% if user_signed_in? %>
  			<nav class="navbar navbar-default navbar-fixed-top">
  				<div class="container col-md-6 col-md-offset-3">
  					<%= render "photos/header" %>
  				</div>
  			</nav>
  		<% end %>
        <div class="row">
          <div class="app-container col-md-6 col-md-offset-3">
	    	    <%= yield %>
          </div>
        </div>
	    <% if user_signed_in? %>
	    	<nav class="navbar navbar-default navbar-fixed-bottom">
  				<div class="container col-md-6 col-md-offset-3">
  					<%= render 'photos/footer' %>
  				</div>
			</nav>
  		<% end %>
  </body>
</html>
